<div class="container">

<div class="row">
        <div class="col-12" id= "burgerPic" style="margin-left:300px; padding:50px;">
    <img src="https://i.pinimg.com/originals/7c/d7/59/7cd759fcdb7d9a8dd2210daee1fa6087.png" alt="burger" id="burgerImage" style="width: 300px">
    <h1>Eat-Da-Burger!</h1>
        </div>
        </div>

    <div class="row">
        <div class="col-6">
            <h2>Burgers to Eat</h2>
            <ul style="font-size:large;">
                {{#each burgers}} {{#unless this.devoured}} 
                
                {{this.id}}. {{this.burger_name}}

                <form class="devour-burger" data-id="{{this.id}}">
                    <input type="hidden" name="devoured" data-value="true">
                    <button data-devourId="{{this.id}}" class="btn btn-info" class="devour" style="margin:5px;">Devour this burger!</button>
                </form> 
                
                {{/unless}} {{/each}}
            </ul>
        </div>

        <div class="col-6">

            <h2>Devoured Burgers...</h2>

            <ul style="font-size:large;">
                
                {{#each burgers}} {{#if this.devoured}} 
                
                {{this.id}}. {{this.burger_name}} 
                <br>
                {{/if}} {{/each}}
                
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="margin-left:300px; padding:50px;">
            <h2>Add a Burger!</h2>

            <form class="burg">
                <div class="burgerForm">
                    <label for="name" style="font-size:large;"> Enter the burger you want to east and click the Submit button.</label>
                    <br>
                    <input type="text" class="formInfo" name="burger_name" id="burgerInfo" aria-describedby="burgerHelp" placeholder="Enter your burger here...">
                </div>
            </form>
<br>
            <button type="submit" id="submit" class="btn btn-info">Submit</button>
        </div>
        <!-- col div-->
    </div>
    <!-- row div-->
</div>
<!-- container div-->

<script>

    console.log("working?");
    $("#submit").on("click", function (event) {
        event.preventDefault();
        console.log("click worked");
        var newBurger = {
            burger_name: $("#burgerInfo").val().trim(),
        };

        $.ajax("/burgers/create", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                console.log("created new burger");
                location.reload();
            }
        );
    });


    $(".devour-burger").on("click", function (event) {
        event.preventDefault();
        var burgerInfo = {
            data: true,
            id: $(this).data("id")
        };

        console.log("burgerInfo: ", burgerInfo);
        console.log("devoured click worked");

        $.ajax("/burgers/update", {
            type: "PUT",
            data: burgerInfo
        }).then(
            function () {
                location.reload();
            }
        );
    });
</script>